@model HousingOffer
@{
    ViewData["Title"] = Model.Name;
}

<div class="row my-5 justify-content-between">
    <div class="col-8">
        <h2 class="hotel-name">@Model.Name</h2>
        <h6>@Model.Location.Address</h6>
    </div>
    <div class="col-4">
        <h2 class="hotel-rating">4.3</h2>
    </div>
</div>

<div class="row my-3">
    <div class="col-lg">
        <div id="carousel-0" class="carousel slide h-100" data-bs-ride="carousel">
            <div class="carousel-inner h-100">
                @if (Model.Images.Count > 0)
                {
                    @for (int i = 0; i < Model.Images.Count; i++)
                    {
                        string tag = i == 0 ? "active" : "";

                        <div class="carousel-item @tag w-100 h-100" style="object-fit: cover">
                            <img class="w-100 h-100" src="@Model.Images[i].Uri">
                        </div>
                    }
                }
                else
                {
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="/img/placeholder.svg">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-0" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Prev</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-0" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-lg">
        map
    </div>
</div>
   
@if (Model.Description != null && Model.Description.Length > 0)
{
    <div class="row my-3">
        <h3>Description</h3>
        <p>@Model.Description</p>
    </div>
}

<div class="my-3 mb-5">
    <h3>Options</h3>
    @if (Model.Options.Count > 0)
    {
        int carouselIndex = 1;

        @foreach (var option in Model.Options)
        {
            <section class="my-3 option-section">
                <div class="row h-100">
                    <div class="col-md-3">
                        <div id="carousel-@carouselIndex" class="carousel slide preview h-100 w-100" data-bs-ride="carousel">
                            <div class="carousel-inner h-100 w-100">
                                @if (option.Images.Count > 0)
                                {
                                    @for (int i = 0; i < option.Images.Count; i++)
                                    {
                                        string tag = i == 0 ? "active" : "";

                                        <div class="carousel-item @tag w-100 h-100">
                                            <img class="w-100 h-100" src="@option.Images[i].Uri">
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="carousel-item active">
                                        <img class="w-100 h-100" src="/img/placeholder.svg">
                                    </div>
                                }
                            </div>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-@(carouselIndex++)" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-9 p-4">
                        <div class="row">
                            <div class="col-8">
                                <p>@option.Name</p>
                                @if (option.Description != null && option.Description.Length > 0)
                                {
                                    <p>@option.Description</p>
                                }
                            </div>
                            <div class="col-4 justify-content-center">
                                <div class="row">
                                    <div class="col">
                                        5$
                                    </div>
                                    <div class="col">
                                        @Html.ActionLink(
                                            "Open",
                                            "OptionControl",
                                            "Hotels",
                                            new { offerId = Model.Id, optionId = option.Id },
                                            new { @class="btn btn-dark" })
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        }
    }
    else
    {
        <h5>Sorry, no booking options are available for this lodging.</h5>
    }

     <div class="row justify-content-center">
       <div id="calendar" class="col-lg-8 col-sm-12">
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/fullcalendar/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventDidMount: function (info) {
                    $(info.el).tooltip({ title: info.event.title });
                },
                events: [
                        @foreach (var reservation in Model.Options.SelectMany(option => option.Reservations))
                        {
                            @Html.Raw("{start:\'" + reservation.StartDate.ToString("yyyy-MM-dd") + "\'," +
                                "end:\'" + reservation.EndDate.ToString("yyyy-MM-dd") + "\'," +
                                "title:\""+ $"{reservation.Option.Name} reserved by {reservation.User.Email}({reservation.User.Phone})\"," +
                                $"url: \'{Url.Action("OptionControl", "Hotels", new { offerId = Model.Id, optionId = reservation.Option.Id })}\'}},")
                        }
                    ]
            });
            calendar.render();
        });
    </script>
}