@model IEnumerable<Travelling.Models.TripOffer>
@{
    ViewData["Title"] = "Trip search results";
    Layout = null;
}

@{
    int carouselIndex = 0;
}

<div>
    @{
        string priceTag = ViewBag.SortType == SortType.Price ? "disabled" : "";
        string timeTag = ViewBag.SortType == SortType.Time ? "disabled" : "";
    }
    <a data-ajax="true"
       data-ajax-loading="#loading"
       data-ajax-mode="replace"
       data-ajax-update="#list"
       data-ajax-begin="onBegin"
       class="btn btn-dark @priceTag"
       href='@Url.Action("Search", "Trip", new { pageNumber = ViewBag.Page.PageNumber,
            sortType = SortType.Price})'>
        Price<i class="fa fa-arrow-down" aria-hidden="true"></i>
    </a>
    <a data-ajax="true"
       data-ajax-loading="#loading"
       data-ajax-mode="replace"
       data-ajax-update="#list"
       data-ajax-begin="onBegin"
       class="btn btn-dark @timeTag"
       href='@Url.Action("Search", "Trip", new { pageNumber = ViewBag.Page.PageNumber,
            sortType = SortType.Price})'>
        Time<i class="fa fa-arrow-down" aria-hidden="true"></i>
    </a>
</div>

@foreach (var item in Model)
{
    <section class="my-3 hotel-section">
        <div class="row h-100 p-3">
            <div class="col-md-10">
                @{
                    Dictionary<TripType, string> typeToString = new Dictionary<TripType, string>()
                    {
                        {TripType.Plane, "fa-plane"},
                        {TripType.Bus, "fa-bus"},
                        {TripType.Water, "fa-ship"},
                        {TripType.Suburban, "fa-train"},
                        {TripType.Train, "fa-train"},
                        {TripType.Helicopter, "fa-helicopter"}
                    };

                    string faTag = typeToString[item.TripThread.Type];
                }
                <p style="font-weight: bold; font-size: 1.25rem">
                    <i class="fa @faTag fa-lg"></i> @item.TripThread.Name
                </p>

                <div class="row text-center">
                    <div class="col-4">
                        <p>@item.DepartureDate</p>
                        <p>@item.DepartureLocation.Address</p>
                    </div>
                    <div class="col-1 p-0">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="col-2">
                        @{
                            var duration = item.ArrivalDate - item.DepartureDate;

                            string format = duration.Days > 0 ? duration.ToString("d'd'h'h'm'm'") : duration.ToString("h'h 'm'm'");
                        }
                        <p>@(format)</p>
                    </div>
                    <div class="col-1 p-0">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="col-4">
                        <p>@item.ArrivalDate</p>
                        <p>@item.ArrivalLocation.Address</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 align-content-center">
                <div class="row text-center h-100 align-content-lg-center">
                    @if (item.Price.HasValue)
                    {
                        <div class="col">
                            @item.Price RUB
                        </div>
                    }
                    
                    <div class="col">
                        @Html.ActionLink(
                            "Open",
                            "Trip",
                            "Trip",
                            new { item.Id },
                            new { @class="btn btn-dark" })
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@{
    string previousTag = ViewBag.Page.HasPreviousPage ? "" : "disabled";
    string nexTag = ViewBag.Page.HasNextPage ? "" : "disabled";
}


<div class="text-center mb-2">
    <a data-ajax="true"
       data-ajax-loading="#loading"
       data-ajax-mode="replace"
       data-ajax-update="#list"
       data-ajax-begin="onBegin"
       class="btn btn-dark @previousTag"
       href='@Url.Action("Search", "Trip", new {
                                    pageNumber = ViewBag.Page.PageNumber - 1,
                                    sortType = ViewBag.SortType })'>

        <i class="fa fa-angle-left"></i>
    </a>

    @for (int i = 1; i <= ViewBag.Page.TotalPages; i++)
    {
        string currentTag = i == ViewBag.Page.PageNumber ? "disabled" : "";

        <a data-ajax="true"
       data-ajax-loading="#loading"
       data-ajax-mode="replace"
       data-ajax-update="#list"
       data-ajax-begin="onBegin"
       class="btn btn-dark @currentTag"
       href='@Url.Action("Search", "Trip", new {
                                        pageNumber = i,
                                        sortType = ViewBag.SortType })'>
            @i
        </a>
    }

    <a data-ajax="true"
       data-ajax-loading="#loading"
       data-ajax-mode="replace"
       data-ajax-update="#list"
       data-ajax-begin="onBegin"
       class="btn btn-dark @nexTag"
       href='@Url.Action("Search", "Trip", new {
                                    pageNumber = ViewBag.Page.PageNumber + 1,
                                    sortType = ViewBag.SortType })'>
        <i class="fa fa-angle-right"></i>
    </a>
</div>